/nbproject/
/logs/
/target/
/nb-configuration.xml
.idea/
build-idea/
/out/
*.iml
#Blackbox config file. See config.template.example.json
/src/main/resources/config.template.json
 *.DS_Store
blackbox.log

