.marcus.pushup {
    position: relative !important;
}

.header.brand * {
    font-family: 'IM Fell Great Primer', serif;
    text-transform: uppercase;
}

.ui.tag.label.relaxed {
    margin: 0 20px 10px 0;
}

.ui.ms-corner {
    position: absolute;
    top: 1em;
    right: 0.5em;
}