
/* HEADER */

/*
 * Header
 */

.navbar-brand { 
  font-family: 'IM Fell Great Primer', serif; 
  text-transform: uppercase; 
  padding-right: 20px; 
  color: white;
}

.navbar-brand:hover { 
  color: white; 
}

.nav-subtitle { 
  font-size: 1.1em; 
  padding-right: 20px !important; 
  float: left; 
  color: #ddd !important; 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
  line-height: 12.9px!important
}

.nav-subtitle:hover { 
  text-decoration: : none !important; 
  border: none !important;
}


#active-filters-reset-help {
    margin: 0.8rem 0;
} 

.search-hits, .facets {
    padding: 10px;
}

.item-checkbox {
    padding-left:8px;
    margin-bottom: 8px;
}

#main-filters {
    margin-top: -1rem;
}

.selected-filter {
    margin-bottom: 10px;
    margin-top: 10px !important;
}

.selected-filter strong {
    margin-right: 10px;
}

.search-results .facets {
    overflow-x: hidden;
    overflow-y: auto;
    background: white;
    border: 1px solid #e1e8ed;
}

.search-results .search-hits {
    background: white;
    /*border: 1px solid #e1e8ed;*/
}

.doc-count {
    color: #9ba8b1;
    font-size: 85%;
    font-style: italic;
}

.pagination {
    font-weight: bold;
    margin: 0 !important;
}

.fancyinput-temp {
    cursor: default;
    padding: 2px 0;
}

@media (max-width: 1024px) {
    .fancyinput-temp {
        padding: 8px 0;
    }
}

.ui.tag.label.relaxed {
    margin: 0 20px 10px 0;
}
.ui.ms-corner {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.marcus.pushup {
    position: relative !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.fade.ng-hide {
    transition:0.2s ease-in all;
    opacity:0;
}

.fade.ng-leave {
    transition:0.2s linear all;
    opacity:0;
}
.fade.ng-leave.ng-leave-active {
    transition:0.2s linear all;
    opacity:0;
}

.facet-label {
    background: url("/img/bg.jpg") left top repeat;
    font-weight: bold;
}

#alert-server-status {
    width: 50%;
    margin: 10% auto;
    text-align: center;
    font-size: 2em;
}

#setting-cataloguer .compact.item, #setting-status .compact.item {
    padding: 0.4rem 0.6rem !important;
}

#sort {
    display: inline-block;
}


