    <div class="ui image">
        <div ng-if="doc._source.img" class="ui blue ribbon label">{{doc._source.type}}</div>
        <a ng-if="doc._source.img" target="_blank" href="{{doc._source.uri}}">
            <img alt="{{doc._source.title}}" class="small image" src="{{doc._source.img}}">
        </a>
        <div ng-if="doc._source.img" class="ui bottom attached label marcus pushup">
            <span class="ui floated right">{{doc._source.available}}</span><br>
            <span class="ui floated right"><i>{{doc._source.cataloguer}}</i></span>
        </div>
        
        <a ng-if="!doc._source.img" target="_blank" href="{{doc._source.uri}}">
            <img style="width: 100px;" class="ui image" src="img/noun_179983_cc.svg"/>
        </a>
    </div>
    <div  class="content">
        <a ng-if="doc._source.title" target="_blank" href="{{doc._source.uri}}" class="header">{{doc._source.title}}</a>
        <a ng-if="doc._source.name" target="_blank" href="{{doc._source.uri}}" class="header">{{doc._source.name}}</a>
        <a ng-if="doc._source.label" target="_blank" href="{{doc._source.uri}}" class="header">{{doc._source.label}}</a>
        <div class="meta">
            <div ng-if="isString(doc._source.maker)">
                <div class="content"><i class="ui icon user"></i><span class="header">{{doc._source.maker}}</span> </div>
            </div>
            <div ng-if="isArray(doc._source.maker)">
                <div class="ui horizontal list">
                    <div ng-repeat="maker in doc._source.maker track by $index" class="item">
                        <i class="ui icon user"></i><span>{{maker}}</span>
                    </div>
                </div>
            </div>
            <span ng-if="doc._source.created"><i class="icon wait"></i> {{doc._source.created}}</span>
        </div>
        <div class="description">
            <p ng-bind-html="doc._source.description | unsafe"></p>
            <p>{{doc._source.type}}</p>
        </div>
        <div class="extra">

        </div>
    </div>