<p>Boat by Guillaume Kurkdjian from the Noun Project</p>
<p>visible by Daniel Llamas Soto from the Noun Project</p>
<p>visible by Bluetip Design from the Noun Project</p>
<p>create event by Leonides Delgado from the Noun Project</p>
<p>width by Magicon from the Noun Project</p>
<p>Magnifying Glass by Filip Malinowski from the Noun Project</p>
<p>left bracket by Icon Island from the Noun Project</p>
<p>right bracket by Icon Island from the Noun Project</p>
<p>statue by Sergey Demushkin from the Noun Project</p>
<p>bill by NAS from the Noun Project</p>