    <div class="ui image">
        <a target="_blank" href="{{doc._source.uri}}">
            <img style="width: 100px;" class="ui image" src="img/noun_247516_cc.svg"/>
        </a>
    </div>
    <div  class="content">
        <a ng-if="doc._source.preferredLabel" target="_blank" href="{{doc._source.uri}}" class="header">{{doc._source.preferredLabel}}</a>
        <div class="meta">
            <div ng-if="doc._source.inScheme">
                <div class="content"><span class="header">Del av: {{doc._source.inScheme}}</span> </div>
            </div>
            <span ng-if="doc._source.created"><i class="icon wait"></i> {{doc._source.created}}</span>
        </div>
        <div class="description">
            <p ng-bind-html="doc._source.description | unsafe"></p>
            <p>{{doc._source.type}}</p>
        </div>
        <div class="extra">
        </div>
    </div>