<div class="ui image" style="margin-bottom: 15px;">
    <div class="ui blue ribbon label">{{doc._source.type}}</div>
    
    <a target="_blank" href="{{doc._source.uri}}">
        <img ng-if="doc._source.hasThumbnail" alt="{{doc._source.title}}" class="small image" src="{{doc._source.hasThumbnail}}">
        <div class="small image"><i style="margin-right: 0;" ng-if="!doc._source.hasThumbnail" class="ui bordered inverted grey icon massive camera retro"></i></div>
    </a>    
    <div class="ui bottom attached label marcus pushup">
        <p style="margin-bottom: 0;">{{doc._source.identifier}}<br>
        <i>{{doc._source.cataloguer}}</i></p>
        <div class="ui ms-corner">
            <i ng-show='doc._source.showWeb == "true" || doc._source.showWeb == undefined' class="circular inverted green unlock icon"></i>
            <i ng-show='doc._source.showWeb == "false"' class="circular inverted red lock icon"></i>
            <i style="right: 2em;" ng-show='doc._source.hasZoom == "Med DeepZoom"' class="circular inverted orange zoom icon"></i>
        </div>
    </div>
</div>
<div class="content">
    <a class="header" target="_blank" href="{{doc._source.uri}}">{{doc._source.title||doc._source.label}}</a>
    <div class="meta">
        <div ng-if="isString(doc._source.maker)">
            <i class="ui icon user"></i><span>{{doc._source.maker}}</span>
        </div>
        <div ng-if="isArray(doc._source.maker)">
            <div class="ui horizontal list">
                <div ng-repeat="maker in doc._source.maker track by $index" class="item">
                    <i class="ui icon user"></i><span>{{maker}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="description">
        <p ng-bind-html="doc._source.description | unsafe"></p>
    </div>
    <hr>
    <div class="extra">
        <div ng-if="isString(doc._source.isPartOf)">
            <div class="content"><i class="ui icon archive"></i><span>{{doc._source.isPartOf}}</span> </div>
        </div>
        <div ng-if="isArray(doc._source.isPartOf)">
            <div class="ui horizontal list">
                <div ng-repeat="isPartOf in doc._source.isPartOf track by $index" class="item">
                    <div class="content"><i class="ui icon archive"></i><span>{{isPartOf}}</span> </div>
                </div>
            </div>
        </div>
        <div ng-if="isString(doc._source.spatial)">
            <div class="content"><i class="ui icon point"></i><span>{{doc._source.spatial}}</span> </div>
        </div>
        <div ng-if="isArray(doc._source.spatial)">
            <div class="ui horizontal list">
                <div ng-repeat="spatials in doc._source.spatial track by $index" class="item">
                    <div class="content"><i class="ui icon point"></i><span>{{spatials}}</span> </div>
                </div>
            </div>
        </div>
        <div ng-if="isString(doc._source.subject)">
            <div ng-show="doc._source.subject" class="ui basic segment">
                <span class="ui tag label">{{doc._source.subject}}</span>
            </div>        
        </div>
        <div ng-if="isArray(doc._source.subject)">
            <div ng-show="doc._source.subject" class="ui basic segment">
                <span ng-repeat="subject in doc._source.subject track by $index" class="ui tag label relaxed">{{subject}}</span>
            </div>
        </div>        

        <div>
            <div>
                <div class="ui horizontal list events">
                    <!--<div class="item event dateDigitized">
                        <img src="img/noun_16508_cc.svg">
                        <span class="year{{from_date| date:'yyyy'}}"></span>
                        <span>{{from_date|| '&infin;'}}</span>
                    </div>-->
                    <div ng-if="from_date" class="item event dateDigitized">
                        <img style="width: 5px;" src="img/noun_16508_cc.svg">
                        <!--span class="year{{from_date| date:'yyyy'}}"></span-->
                        <span>Fra: {{from_date| date:'yyyy'}}</span>
                    </div>
                    <div ng-if="doc._source.created" class="item event dateDigitized">
                        <img style="width: 20px;" src="img/noun_173850_cc.svg">
                        <!--span class="year{{doc._source.created| date:'yyyy'}}"></span-->
                        <span>{{doc._source.created}}</span>
                    </div>
                    <div ng-if="doc._source.madeAfter" class="item event dateDigitized">
                        <img style="width: 12px;" src="img/noun_346838_cc.svg">
                        <!--span class="year{{doc._source.madeAfter| date:'yyyy'}}"></span-->
                        <span>{{doc._source.madeAfter}}</span>
                    </div>
                    <div ng-if="doc._source.madeAfter || doc._source.madeBefore" class="item event dateDigitized">
                        <img style="width: 40px;" src="img/noun_212152_cc.svg">
                    </div>
                    <div ng-if="doc._source.madeBefore" class="item event dateDigitized">
                        <!--span class="year{{doc._source.madeBefore| date:'yyyy'}}"></span-->
                        <span>{{doc._source.madeBefore}}</span>
                        <img style="width: 12px;" src="img/noun_346839_cc.svg">
                    </div>
                    <div ng-if="doc._source.available" class="item event dateDigitized">
                        <img style="width: 20px;" src="img/noun_250439_cc.svg">
                        <!--span class="year{{doc._source.available| date:'yyyy'}}"></span-->
                        <span>{{doc._source.available}}</span>
                    </div>                    
                    <div ng-if="to_date" class="item event dateDigitized">
                        <span class="year{{from_date| date:'yyyy'}}"></span>
                        <!--span>Til: {{to_date| date:'yyyy'}}</span-->
                        <img style="width: 20px;" src="img/noun_16508_cc.svg">
                    </div>
                    <!--<div class="item event now">
                        <span ng-controller="nextYear" class="year{{nextYear}}">{{nextYear}}</span>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>