<!--<div class="example" ng-show="doc._source.hasthumbnail">
    <div class="ui shape shape{{$index}}}}">
        <div class="sides">
            <div class="active side">
                <div class="ui image">
                    <div class="ui blue ribbon label">{{doc._source.type}}</div>
                    <a target="_blank" href="{{doc._source.uri}}">
                        <img alt="{{doc._source.title}}" class="small image" src="{{doc._source.hasthumbnail}}">
                    </a>
                    <div class="ui bottom attached label marcus pushup">{{doc._source.identifier}}<br>
                        <span class="ui floated right">{{doc._source.available}}</span><br>
                        <span class="ui floated right"><i>{{doc._source.cataloguer}}</i></span>
                    </div>
                </div>
            </div>
            <div class="side">
                <div class="ui image">
                    <div class="ui red ribbon label">{{doc._source.type}}</div>
                    <a target="_blank" href="{{doc._source.uri}}">
                        <img alt="{{doc._source.title}}" class="small image" src="{{doc._source.hasthumbnail}}">
                    </a>
                    <div class="ui bottom attached label marcus pushup">{{doc._source.identifier}}<br>
                        <span class="ui floated right">{{doc._source.available}}</span><br>
                        <span class="ui floated right"><i>{{doc._source.cataloguer}}</i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui ignored icon direction buttons">
        <div class="ui button" title="Flip Over" data-animation="flip" data-direction="over"><i class="retweet icon"></i></div>
      </div>
</div>-->

<div ng-show="doc._source.hasthumbnail" class="ui image">
    <div class="ui blue ribbon label">{{doc._source.type}}</div>
    
    <a target="_blank" href="{{doc._source.uri}}">
        <img alt="{{doc._source.title}}" class="small image" src="{{doc._source.hasthumbnail}}">
    </a>
    
    <div class="ui bottom attached label marcus pushup">
        <div style="text-align: left;">{{doc._source.identifier}}<br>
        {{doc._source.available}}<br>
        <i>{{doc._source.cataloguer}}</i></div>
        <div class="ui ms-corner">
        <i ng-show='doc._source.showweb == "true"' class="circular inverted green unlock icon"></i>
        <i ng-show='doc._source.showweb == "false"' class="circular inverted red lock icon"></i>
        <i ng-show='doc._source.showweb == undefined' class="circular inverted help icon"></i>
        <i style="right: 2em;" ng-show='doc._source.haszoom == "Med DeepZoom"' class="circular inverted orange zoom icon"></i>
        <!--<i ng-show='doc._source.haszoom == "Uten DeepZoom"' class="circular inverted red lock icon"></i>
        <i ng-show='doc._source.haszoom == undefined' class="circular inverted help icon"></i>-->
    </div>
    </div>
</div>
<div ng-show="!doc._source.hasthumbnail" class="ui image">
    <i class="ui bordered inverted grey icon huge camera retro"></i>
</div>
<div class="content">
    <a class="header" target="_blank" href="{{doc._source.uri}}">{{doc._source.title|| "Uten tittel"}}</a>
    <div class="meta">
        <div ng-if="isString(doc._source.maker)">
            <i class="ui icon user"></i><span>{{doc._source.maker}}</span>
        </div>
        <div ng-if="isArray(doc._source.maker)">
            <div class="ui horizontal list">
                <div ng-repeat="maker in doc._source.maker track by $index" class="item">
                    <i class="ui icon user"></i><span>{{maker}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="description">
        <p ng-bind-html="doc._source.description | unsafe"></p>
    </div>
    <hr>
    <div class="extra">
        <div ng-if="isString(doc._source.ispartof)">
            <div class="content"><i class="ui icon archive"></i><span>{{doc._source.ispartof}}</span> </div>
        </div>
        <div ng-if="isArray(doc._source.ispartof)">
            <div class="ui horizontal list">
                <div ng-repeat="ispartof in doc._source.ispartof track by $index" class="item">
                    <div class="content"><i class="ui icon archive"></i><span>{{ispartof}}</span> </div>
                </div>
            </div>
        </div>
        <div ng-if="isString(doc._source.spatial)">
            <div class="content"><i class="ui icon point"></i><span>{{doc._source.spatial}}</span> </div>
        </div>
        <div ng-if="isArray(doc._source.spatial)">
            <div class="ui horizontal list">
                <div ng-repeat="spatials in doc._source.spatial track by $index" class="item">
                    <div class="content"><i class="ui icon point"></i><span>{{spatials}}</span> </div>
                </div>
            </div>
        </div>
        <div ng-if="isString(doc._source.subject)">
            <div ng-show="doc._source.subject" class="ui basic segment">
                <span class="ui tag label">{{doc._source.subject}}</span>
            </div>        
        </div>
        <div ng-if="isArray(doc._source.subject)">
            <div ng-show="doc._source.subject" class="ui basic segment">
                <span ng-repeat="subject in doc._source.subject track by $index" class="ui tag label relaxed">{{subject}}</span>
            </div>
        </div>        

        <div>
            <div>
                <div class="ui horizontal list events">
                    <div class="item event dateDigitized">
                        <span class="year{{from_date| date:'yyyy'}}"></span>
                        <span>{{from_date|| '&infin;'}}</span>
                    </div>
                    <div ng-show="from_date" class="item event dateDigitized">
                        <span class="year{{from_date| date:'yyyy'}}"></span>
                        <span>Fra: {{from_date| date:'yyyy'}}</span>
                    </div>
                    <div ng-show="doc._source.created" class="item event dateDigitized">
                        <span class="year{{doc._source.created| date:'yyyy'}}"></span>
                        <span>Skapt:{{doc._source.created}}</span>
                    </div>
                    <div ng-show="doc._source.madeafter" class="item event dateDigitized">
                        <span class="year{{doc._source.madeafter| date:'yyyy'}}"></span>
                        <span>Etter: {{doc._source.madeafter}}</span>
                    </div>
                    <div ng-show="doc._source.madebefore" class="item event dateDigitized">
                        <span class="year{{doc._source.madebefore| date:'yyyy'}}"></span>
                        <span>Før: {{doc._source.madebefore}}</span>
                    </div>
                    <div ng-show="doc._source.available" class="item event dateDigitized">
                        <span class="year{{doc._source.available| date:'yyyy'}}"></span>
                        <span>Tilgjengeliggjort: {{doc._source.available}}</span>
                    </div>
                    <div ng-show="to_date" class="item event dateDigitized">
                        <span class="year{{from_date| date:'yyyy'}}"></span>
                        <span>Til: {{to_date| date:'yyyy'}}</span>
                    </div>
                    <div class="item event now">
                        <!-- has no mark / used for determining end of line -->
                        <span ng-controller="nextYear" class="year{{nextYear}}">{{nextYear}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>