<h2 class="ui header" translate="filters.heading"></h2>

<!-- Date facet (can't be in include because of date-picker) -->
<h3 class="ui header">
    <i class="fa fa-calendar"></i>
    <div class="content" translate="filters.created"></div>
</h3>

<date-range> </date-range>

<!--Facet status as a dropdown -->
<h3 class="ui header">
    <i class="fa fa-certificate"></i>
    <div class="content" translate="searchContainer.statusFilter"></div>
</h3>
<div class="ui list">
    <span class="item"
          ng-repeat="bucket in results['aggregations']['hasZoom']['buckets']"
          ng-init="value = getCheckedValue('hasZoom', bucket.key)" ng-hide="getDocCount(bucket) == 0">
        <facet id='hasZoom-{{bucket.key}}'
               value='{{value}}'
               key='{{bucket.key}}'
               count='{{getDocCount(bucket) | number}}'>
        </facet>
    </span>
    <span class="item"
          ng-repeat="bucket in results['aggregations']['isDigitized']['buckets']"
          ng-init="value = getCheckedValue('isDigitized', bucket.key)" ng-hide="getDocCount(bucket) == 0">
        <facet id='isDigitized-{{bucket.key}}'
               value='{{value}}'
               key='{{bucket.key}}'
               count='{{getDocCount(bucket) | number}}'>
        </facet>
    </span>
</div>

<!-- Types facets without dropdown checkboxes-->
<h3 class="ui header">
    <i class="fa fa-file-o"></i>
    <div class="content" translate="filters.type"></div>
</h3>
<div class="ui list">
    <span class="item"
          ng-repeat="bucket in results['aggregations']['type.exact']['buckets']"
          ng-init="value = getCheckedValue('type.exact', bucket.key)" ng-hide="getDocCount(bucket) == 0">
        <facet id='type-{{bucket.key}}'
               value='{{value}}'
               key='{{bucket.key}}'
               count='{{getDocCount(bucket) | number}}'>
        </facet>
    </span>
</div>

<!-- Topic facets-->
<h3 class="ui header">
    <i class="fa fa-tag"></i>
    <div class="content" translate="filters.concept"></div>
</h3>
<div class="ui list">
    <span class="item"
          ng-repeat="bucket in results['aggregations']['subject.exact']['buckets']"
          ng-init="value = getCheckedValue('subject.exact', bucket.key)" ng-hide="getDocCount(bucket) == 0">
        <facet id="subject-{{bucket.key}}"
               value='{{value}}'
               key='{{bucket.key}}'
               count='{{getDocCount(bucket) | number}}'>
        </facet>
    </span>
</div>

<!-- Collection facets-->
<h3 class="ui header">
    <i class="fa fa-archive"></i>
    <div class="content" translate="filters.partOf"></div>
</h3>
<div class="ui list">
    <span class="item"
          ng-repeat="bucket in results['aggregations']['isPartOf.exact']['buckets']"
          ng-init="value = getCheckedValue('isPartOf.exact', bucket.key)" ng-hide="getDocCount(bucket) == 0">
        <facet id="isPartOf-{{bucket.key}}"
               value='{{value}}'
               key='{{bucket.key}}'
               count='{{getDocCount(bucket) | number}}'>
        </facet>
    </span>
</div>

<!-- Events facets-->
<h3 class="ui header">
    <i class="fa fa-ticket"></i>
    <div class="content" translate="filters.event"></div>
</h3>
<div class="ui list">
    <span class="item"
          ng-repeat="bucket in results['aggregations']['producedIn.exact']['buckets']"
          ng-init="value = getCheckedValue('producedIn.exact', bucket.key)" ng-hide="getDocCount(bucket) == 0">
        <facet id="producedIn-{{bucket.key}}"
               value='{{value}}'
               key='{{bucket.key}}'
               count='{{getDocCount(bucket) | number}}'>
        </facet>
     </span>
</div>

