<div id="header" class="ui overlay menu">
  <div class="ui container fluid header-wrap">
    <div href="#" class="header item">
      <img class="ui logo" data-pin-nopin="true" src="img/UiBmerke_white.svg">
      <a class="navbar-brand" href="/">Marcus</a>
      <div class="tablet or lower uihidden"><a class="nav-subtitle" href="/"><small>Spesialsamlingene ved <br>Universitetsbiblioteket i Bergen</small></a></div>
    </div>

    <div class="menu right">
      <a class="tablet or lower uihidden item" href="/">Hjem</a>
      <div class="ui simple icon main-nav-dropdown dropdown tablet or lower uihidden item">
        <span class="text">Meny</span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
        <div class="ui menu">
          <div class="item"><a href="http://marcus.uib.no/collections"><i style="color: #aaa;" class="fa fa-th fa-fw"></i> Samlinger</a></div>
          <div class="item"><a href="?filter=type.exact%23Fotografi&filter=type.exact%23Album&filter=type.exact%23Grafikk&filter=type.exact%23Postkort"><i style="color: #aaa;" class="fa fa-picture-o fa-fw"></i> Bilder</a></div>
          <div class="item"><a href="http://marcus.uib.no/events"><i style="color: #aaa;" class="fa fa-calendar fa-fw"></i> Hendelser</a></div>
          <div class="item"><a href="http://marcus.uib.no/albums"><i style="color: #aaa;" class="fa fa-book fa-fw"></i> Album</a></div>
          <div class="item"><a href="http://marcus.uib.no/exhibitions"><i style="color: #aaa;" class="fa fa-university fa-fw"></i> Utstillinger</a></div>
        </div>
      </div>
      <div class="ui simple icon main-nav-dropdown dropdown tablet or lower uihidden item">
        <span class="text">Om</span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
        <div class="ui menu">
          <div class="item"><a href="http://marcus.uib.no/about-marcus"><i style="color: #aaa;" class="fa fa-archive"></i> Om Marcus</a></div>
          <div class="item"><a href="http://sparql.ub.uib.no"><i style="color: #aaa;" class="fa fa-cubes"></i> Åpne data (Sparql)</a></div>
          <div class="item"><a href="http://marcus.uib.no/technology.html"><i style="color: #aaa;" class="fa fa-cog"></i> Teknologi</a></div>
          <div class="item"><a href="http://marcus.uib.no/stats"><i style="color: #aaa;" class="fa fa-bar-chart-o"></i> Statistikk</a></div>
        </div>
      </div>
      <!--<div ng-controller="Ctrl" class="ui language simple dropdown tablet or lower uihidden item">
        <span class="text" translate="header.buttonLanguage"></span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
        <div class="menu">
          <div class="item" ng-click="changeLanguage('no')" translate="header.buttonLangNo"></div>
          <div class="item" ng-click="changeLanguage('en')" translate="header.buttonLangEn"></div>
        </div>
      </div>-->
      <div class="tablet or lower uihidden item">
        <a class="simplecart-icon" href="http://marcus.uib.no/cart.html"><i class="fa fa-lg fa-shopping-cart"></i> <span class="hidden">Handlekurv</span> <span style="margin-top: -8px;" class="label label-primary simpleCart_quantity"></span></a>
      </div>
      <a class="tablet mobile only item">
        <i class="fa fa-filter fa-2x facet-nav-toggle" aria-hidden="true"></i>
      </a>
      <a class="tablet mobile only item">
        <i class="fa fa-bars fa-2x main-nav-toggle" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div ng-controller="Ctrl" class="ui language tablet or lower uihidden">
    <span ng-click="changeLanguage('no')" translate="header.buttonLangNo"></span>
    <span ng-click="changeLanguage('en')" translate="header.buttonLangEn"></span>
  </div>
</div>

<script type="text/javascript">
      // Sidebar
    $('.ui.sidebar.main-nav').sidebar('attach events', '.main-nav-toggle')
    ;

    $('.ui.sidebar.facet-nav').sidebar('attach events', '.facet-nav-toggle')
    ;

    $('.overlay')
      .visibility({
        type: 'fixed',
        onShow: function() {
                $('.overlay').sticky('refresh');
            },
            onHidden: function() {
                $('.overlay').sticky('refresh');
            }
      })
    ;
</script>