<div class="search-help ui basic modal">
    <i class="close icon"></i>
    <div class="header">Søketips</div>
    <div class="image content">
        <div class="image"><i class="search icon"></i></div>
        <div class="description">
            <h4>OG/ELLER</h4>
            <ul>
                <li>Søket bruker i utgangspunktet "OG" mellom alle søketermer</li>
                <li>Bruk "OR" for å endre dette, for eksempel "vaksdal OR voss"</li>
            </ul>
            <h4>Negasjon</h4>
            <ul>
                <li>Bruk minustegn foran søketermer du ikke vil ha med i trefflisten, for eksempel "husarbeid"
                </li>
            </ul>
            <h4>Trunkering</h4>
            <ul>
                <li>Bruke * til å trunkere, for eksempel "*strand" eller "knu*sen"</li>
            </ul>
            <h4>Søk direkte i ett felt</h4>
            <ul>
                <li>Du kan søke i tittel, beskrivelse og mange andre felt ved å bruke <i>felt:</i></li>
                <li>subject:hund</li>
                <li>spatial:bergen</li>
                <li>description:fisketur</li>
                <li>maker:knudsen</li>
                <li>isPartOf:holm [OBS! Må være skrevet slik, såkalt camelCase]</li>
            </ul>
            <h4>Fuzzy</h4>
            <ul>
                <li>Du kan søke med en fuzzy-søketerm ved å sette ~ etter ordet du søker etter.</li>
                <li>”Fana~” -> gir treff på Tana, Anax, Fina, etc.</li>
            </ul>
        </div>
    </div>
</div>