<div id="sidebar" style="padding-top: 50px;" class="ui raised vertical sidebar menu uncover push visible">
  <div class="list">
    <div class="item">
      <i class="fa fa-dashboard fa-fw"></i> <a href="http://admin.marcus.uib.no/home">Kontrollpanel</a>
    </div>
    <div class="item">
      <i class="fa fa-check-square-o fa-fw"></i> <a href="http://admin.marcus.uib.no/cataloguers">Siste 500</a>
    </div>
    <div class="item">
      <i class="fa fa-upload fa-fw"></i> <a href="http://marcus.uib.no/admin/upload.html">Last opp filer</a>
    </div>    
    <div class="item">
      <i class="fa fa-plus fa-fw"></i> <a href='http://admin.marcus.uib.no/search/?filter=isCatalogued%23Ikke%20katalogisert'>Filer klare for registrering</a><br>
      <small><a href="http://admin.marcus.uib.no/new-resource">Filer klare for registrering</a> (gammel listevisning)</small> 
    </div>
    <div class="item">
      <i class="fa fa-edit fa-fw"></i> <a href='http://admin.marcus.uib.no/search/?filter=showWeb%23F'>Objekt klare for publisering</a>
    </div>
    <div class="item">
      <i class="fa fa-edit fa-fw"></i> <a href='http://admin.marcus.uib.no/search/?filter=hasZoom%23Med%20DeepZoom&filter=showWeb%23F'>Upubliserte med nye filer</a>
    </div>
    <div class="item">
      <i class="fa fa-tags fa-fw"></i> <a href="http://admin.marcus.uib.no/topics-hierarchy">Emneregister - oversikt</a>
    </div>
    <div class="item">
      <i class="fa fa-search fa-fw"></i> <a href="http://admin.marcus.uib.no/orders">Oppdrag</a>
    </div>
    <div class="item">
      <i class="fa fa-print fa-fw"></i> <a href="http://admin.marcus.uib.no/orders-printlabel">Etiketter (bruk <i class="fa fa-opera" style="color: red;" aria-hidden="true"></i>)</a>
    </div>
    <div class="item">
      <i class="fa fa-exclamation-triangle fa-fw"></i> <a href="http://admin.marcus.uib.no/errors">Feil i datasettet</a>
    </div>
    <div class="item">
      <i class="fa fa-compass fa-fw"></i> <a href="http://admin.marcus.uib.no/marcus-statistics">Statistikk for Marcus</a>
    </div>
    <div class="item">
      <i class="fa fa-compass fa-fw"></i> <a href="http://admin.marcus.uib.no/stats">Statistikk for datasettet</a>
    </div>
    <div class="item">
      <i class="fa fa-book fa-fw"></i> <a href="http://admin.marcus.uib.no/manual">Veiledning</a>
    </div>        
  </div>
</div>

<script>
    // Sidebar
    $('.ui.sidebar')
      .sidebar({
        context: $('.bottom.segment'),
        dimPage: false,
        closable: false
      })
      .sidebar('attach events', '#show-menu')
    ;
    $('#show-menu').click(function() {
      $('.pusher').toggleClass('pusher-padding');
    });
</script>