<div class="ui image">
    <div  ng-if="doc._source.img" class="ui blue ribbon label">{{doc._source.type}}</div>
    <a  ng-if="doc._source.img" target="_blank" href="{{doc._source.uri}}">
        <img alt="{{doc._source.title}}" class="small image" src="{{doc._source.logo}}">
    </a>
    <div  ng-if="doc._source.img" class="ui bottom attached label marcus pushup">
        <span class="ui floated right">{{doc._source.available}}</span><br>
    </div>
    
    <img class="noun-icon" ng-if="!doc._source.img" style="width: 70px;" class="ui image" src="img/noun_40514_cc.svg"/>
</div>

<div class="content">
    <a target="_blank" href="{{doc._source.uri}}" class="header">
        <qrcode class="qrcode hidden right floated" data="{{doc._source.uri}}"></qrcode>
        {{doc._source.preferredLabel}}
    </a>
    <div class="meta">
        <span ng-if="doc._source.birthYear || doc._source.deathYear" class="ui floated right"><i
                class="icon wait"></i><span ng-show="doc._source.birthYear && !doc._source.birthDate">{{doc._source.birthYear}}</span><span
                ng-if="doc._source.birthDate">{{doc._source.birthDate}}</span> - <span
                ng-if="doc._source.deathYear && !doc._source.deathDate">{{doc._source.deathYear}}</span><span
                ng-if="doc._source.deathDate">{{doc._source.deathDate}}</span></span>
    </div>
    <div class="description">
        <p ng-bind-html="doc._source.description | unsafe"></p>
    </div>
    <div class="extra">
        <div class="ui label">{{doc._source.type}}</div>
    </div>
</div>