<!DOCTYPE html>
<html ng-app="marcus" lang="no" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <base href="search">
    <title>Blackbox</title>
    <meta name="description" content="Search Marcus data"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" type="image/x-icon" href="http://marcus.uib.no/img/favicon-adm.ico"/>
    <link rel="stylesheet" href="js/lib/typeahead/css/main.css"/>
    <link rel="stylesheet" href="js/lib/typeahead/css/normalize.min.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <link href="http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css"/>
    <link rel="stylesheet" href="css/marcus.css"/>
    <link rel="stylesheet" href="css/bootstrap-pagination.css"/>
    <style>
        .pusher {
            margin-right: 260px !important;
        }
        .ui.items > .item .extra button {
            margin-right: 0;
        }
        .ui.items > .item .extra ul {
            padding-left: 0;
        }
        .ui.items > .item .extra ul li {
            margin: 0 8px 8px 12px;
        }
        .ui.items > .item .meta span.right, .ui.items > .item .image span.right {
            float: right;
        }
        .ui.items > .item .image .ui.attached.label {
            position: relative;
        }
    </style>
</head>
<body>
    <div include-replace ng-include="'partials/header.html'"></div>
    <div class="ui bottom attached segment">
        <div include-replace ng-include="'partials/sidebar.html'"></div>
        <div class="pusher">
            <!-- Controller starts here-->
            <div ng-controller="freeTextSearch" id="searchController">
                <div id="search-header" class="ui container">
                    <div class="masthead">
                        <!--input type="hidden" name="index" value="admin"-->
                        <div class="Typeahead ui equal width grid">
                            <div class="u-posRelative ui twelve wide column">
                                <div class="ui massive icon fluid input">
                                    <input class="Typeahead-hint" type="text" tabindex="-1" readonly="readonly"/>
                                    <!-- TODO: fix possible to use 'translate translate-attr-placeholder="SEARCH_INPUT"' instead of translate filter? Use of directives breaks search. -->
                                    <input class="Typeahead-input"
                                           id="search-input"
                                           type="text"
                                           name="q"
                                           ng-model="queryString"
                                           ng-keyup="($event.keyCode==13 || queryString==='')&&search()"
                                           /**placeholder="{{ 'searchContainer.placeholder' | translate }}"**/
                                           autofocus
                                           autocomplete="off"/>
                                    <i ng-click="search()" class="search link icon"></i>
                                  </div>
                                <div class="Typeahead-menu"></div>
                             </div>
                            <div class="ui column" style="margin-top: 20px !important;">
                                <strong style="font-size: 1.8em" translate="searchContainer.hitsFeedback" translate-values="{val: results.hits.total}"></strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="active-filters-reset-help" class="ui container">
                    <!--Selected filters -->
                    <div style="display: inline;" ng-cloak ng-if="selectedFilters.length > 0" class="selected-filter">
                        <strong translate="filters.active"></strong>
                         <span ng-repeat="filter in selectedFilters">
                              <a class="ui purple label relaxed" ng-click="removeFilter(filter)">
                                   {{filter.split('#')[1]}} <i class='delete icon'></i>
                              </a>
                         </span>
                    </div>
                    <div class="ui horizontal list">
                        <!-- Reset search -->
                        <div class="item"><a href="/search" target="_self" title="Nullstill søk"> <i class="delete circle icon"></i>
                            <span translate="searchContainer.reset"></span></a>
                        </div>
                        <!-- Search tips -->
                        <div class="item"><a class="search-help-button" accesskey="72" title="Søketips"><i class="help icon"></i>
                            <span translate="searchContainer.help"></span></a>
                        </div>
                    </div>

                    <!-- Search help info -->
                    <div class="search-help ui basic modal">
                        <i class="close icon"></i>
                        <div class="header" translate="searchHint.header"></div>
                        <div class="image content">
                            <div class="image">
                                <i class="search icon"></i>
                            </div>
                            <div class="description">
                                <h4 translate="searchHint.andOr"></h4>
                                <ul translate="searchHint.andOrTxt"></ul>
                                
                                <h4 translate="searchHint.not"></h4>
                                <ul translate="searchHint.notTxt"></ul>
                                
                                <h4 translate="searchHint.truncation"></h4>
                                <ul translate="searchHint.truncationTxt"></ul>
                                
                                <h4 translate="searchHint.fields"></h4>
                                <ul translate="searchHint.fieldsTxt"></ul>
                                
                                <h4 translate="searchHint.fuzzy"></h4>
                                <ul translate="searchHint.fuzzyTxt"></ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="main-filters" class="ui container four column grid">
                    <!-- Cataloguer facet as a dropdown-->
                    <div class="ui column">
                        <div class="ui multiple search normal selection fluid dropdown">
                            <i class="dropdown icon"></i>
                            <div class="default text" translate="searchContainer.cataloguerFilter"></div>
                            <div id="setting-cataloguer" class="menu">
                                <div class="compact item"
                                     ng-repeat="bucket in results['aggregations']['cataloguer.exact']['buckets']">
                                    <div class="checkbox ui">
                                        <input id="cataloguer-{{bucket.key}}" type="checkbox"
                                               checklist-model="selectedFilters"
                                               checklist-value="getCheckedValue('cataloguer.exact', bucket.key)"
                                               ng-click="search()">
                                        <label for="cataloguer-{{bucket.key}}">{{bucket.key}} <span class="doc-count"> ({{bucket.doc_count | number}})</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Facet status as a dropdown -->
                    <div class="ui column">
                        <div class="ui multiple search normal selection fluid dropdown">
                            <i class="dropdown icon"></i>
                            <span class="default text" translate="searchContainer.statusFilter"></span>
                            <div id="setting-status" class="menu">
                                <div class="compact item"
                                     ng-repeat="bucket in results['aggregations']['hasZoom']['buckets']">
                                    <div class="checkbox ui item">
                                        <input id="hasZoom-{{bucket.key}}" type="checkbox" checklist-model="selectedFilters"
                                               checklist-value="getCheckedValue('hasZoom', bucket.key)" ng-click="search()">
                                        <label for="hasZoom-{{bucket.key}}">{{bucket.key}} <span class="doc-count"> ({{bucket.doc_count | number}})</span></label>
                                    </div>
                                </div>
                                <div class="compact item"
                                     ng-repeat="bucket in results['aggregations']['showWeb']['buckets']">
                                    <div class="checkbox ui item">
                                        <input id="showWeb-{{bucket.key}}" type="checkbox" checklist-model="selectedFilters"
                                               checklist-value="getCheckedValue('showWeb', bucket.key)" ng-click="search()">
                                        <label for="showWeb-{{bucket.key}}">
                                            <span ng-if="bucket.key=='T' || bucket.key=='false'">Publisert</span>
                                            <span ng-if="bucket.key=='F' || bucket.key=='false'">Ikke publisert</span>
                                            <span class="doc-count">({{bucket.doc_count | number}})</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="compact item"
                                     ng-repeat="bucket in results['aggregations']['isDigitized']['buckets']">
                                    <div class="checkbox ui item">
                                        <input id="isDigitized-{{bucket.key}}" type="checkbox"
                                               checklist-model="selectedFilters"
                                               checklist-value="getCheckedValue('isDigitized', bucket.key)"
                                               ng-click="search()">
                                        <label for="isDigitized-{{bucket.key}}">{{bucket.key}} <span class="doc-count"> ({{bucket.doc_count | number}})</span></label>
                                    </div>
                                </div>
                                <div class="compact item"
                                     ng-repeat="bucket in results['aggregations']['isCatalogued']['buckets']">
                                    <div class="checkbox ui item">
                                        <input id="isCatalogued-{{bucket.key}}" type="checkbox"
                                               checklist-model="selectedFilters"
                                               checklist-value="getCheckedValue('isCatalogued', bucket.key)"
                                               ng-click="search()">
                                        <label for="isCatalogued-{{bucket.key}}">{{bucket.key}} <span class="doc-count"> ({{bucket.doc_count | number}})</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Loading gif -->
                <img class="blackbox-loading" src="img/loading.gif" alt="Loading ...">
                <!--uib-progressbar  class="blackbox-loading" ng-show="show_loading" value="dynamic" style="height:100px;"></uib-progressbar-->
                <!-- Search results -->
                <div ng-cloak ng-show="ready" class="ui container">
                    <div class="search-results ui equal width grid">
                        <!--Starting with facets-->
                        <div ng-cloak class="ng-cloak four wide column computer only">
                            <div class="facets">
                                <h2 translate="filters.heading"></h2>
                                <h3 translate="filters.created"></h3>
                                <hr>
                                <div class="datePicker ui input">
                                    <input type="text" id="from_date" class="datePicker" ng-model="fromDate" ng-change="search()" placeholder="{{ 'filters.fromDate' | translate }}" title="Fra dato">
                                </div>
                                <br/><br/>
                                <div class="datePicker ui input">
                                    <input type="text" id="to_date" class="datePicker" ng-model="toDate" ng-change="search()" placeholder="{{ 'filters.toDate' | translate }}" title="Til dato">
                                </div>
                                <br/><br/>

                                <!-- Document types facets-->
                                <h3 translate="filters.type"></h3>
                                <hr>
                                <div class="ui multiple search fluid doctype dropdown">
                                    <span class="default text" translate="filters.type"></span><i class="dropdown icon"></i>
                                    <input type="hidden" name="type">
                                    <div class="menu">
                                        <div class="ui checkbox item"
                                             ng-repeat="bucket in results['aggregations']['type.exact']['buckets']">
                                            <input id="type-{{bucket.key}}" type="checkbox"
                                                   checklist-model="selectedFilters"
                                                   checklist-value="getCheckedValue('type.exact', bucket.key)"
                                                   ng-click="search()">
                                            <label for="type-{{bucket.key}}" ng-class="{'disabled': bucket.doc_count == 0}">
                                                {{bucket.key}}
                                                <span ng-if="bucket.doc_count > 0" class="doc-count"> ({{bucket.doc_count | number}})</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Topic facets-->
                                <h3 translate="filters.concept"></h3>
                                <hr>
                                <div class="ui list">
                                    <div class="ui checkbox item"
                                         ng-repeat="bucket in results['aggregations']['subject.exact']['buckets']">
                                        <input id="subject-{{bucket.key}}" type="checkbox" checklist-model="selectedFilters"
                                               checklist-value="getCheckedValue('subject.exact', bucket.key)"
                                               ng-click="search()">
                                        <label for="subject-{{bucket.key}}" class="row-fluid"> {{bucket.key}}
                                            <span class="doc-count">({{bucket.doc_count | number}})</span>
                                        </label>
                                    </div>
                                </div>

                                <!-- Collection facets-->
                                <h3 translate="filters.partOf"></h3>
                                <hr>
                                <div class="ui list">
                                    <div class="ui checkbox item"
                                         ng-repeat="bucket in results['aggregations']['isPartOf.exact']['buckets']">
                                        <input id="isPartOf-{{bucket.key}}" type="checkbox"
                                               checklist-model="selectedFilters"
                                               checklist-value="getCheckedValue('isPartOf.exact', bucket.key)"
                                               ng-click="search()">
                                        <label for="isPartOf-{{bucket.key}}" ng-class="{'disabled': bucket.doc_count == 0}">
                                            {{bucket.key}}
                                            <span ng-if="bucket.doc_count > 0" class="doc-count"> ({{bucket.doc_count | number}})</span>
                                        </label>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- No hits-->
                        <div ng-if="ready && results.hits.total === 0" style="margin-top:50px;" class="no-hits ui column">
                            <div class="ui text ui center aligned">
                                <div class="ui large blue message">
                                    <h1 style="font-size: 2em;" class="ui icon header" translate="results.emptyResult"></h1>
                                </div>
                            </div>
                        </div>

                        <!-- Internal error on executing search-->
                        <div ng-if="ready && results.error" style="margin-top:50px;" class="no-hits ui column">
                            <div class='ui large red message'>
                                <div class="header">
                                    Søket ditt kan ikke utføres
                                </div>
                                <ul class="list">
                                    <li>
                                        Det inneholder sannsynligvis disse spesialtegnene: <code> + - = && || > < ! ( ) { }
                                        [ ]
                                        ^ " ~ * ? : \ / </code>
                                    </li>
                                    <li>
                                        Hvis man skulle søke etter reserverte tegn, må man ha omvendt skråstrek foran.
                                        F.eks søk etter <code> D/S </code> må gjøres som <code> D\/S </code>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--Search hits -->
                        <div ng-show="results.hits.total > 0" class="ng-cloak column">
                            <div class="ui equal width grid hitlist-settings">
                                <div class="row">
                                    <div class="column">
                                        <!--Pagination-->
                                        <uib-pagination class="pagination hidden-sm hidden-xs"
                                                        total-items="results.hits.total"
                                                        items-per-page="pageSize"
                                                        ng-model="currentPage"
                                                        ng-change="search()"
                                                        next-text="Neste"
                                                        previous-text="Forrige"
                                                        max-size="3"
                                                        first-text="&laquo;"
                                                        last-text="&raquo;"
                                                        boundary-links="true"
                                                        force-ellipses="true">
                                        </uib-pagination>
                                    </div>
                                    <!-- Sorting -->
                                    <div class="right floated eight wide column computer only">
                                                <span>
                                                    <label for="docPerPage"><strong translate="filters.show"></strong></label>
                                                    <select id="docPerPage" style="display:inline" ng-model="pageSize" ng-change="search()">
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="30">30</option>
                                                        <option value="100">100</option>
                                                        <option value="200">200</option>
                                                        <option value="250">250</option>
                                                    </select>
                                                    
                                                    <label for="sort"><strong translate="filters.sort"></strong></label>
                                                    <select id="sort" ng-model="sortBy" ng-change="search()">
                                                        <option selected="selected" translate="filters.relevance" value=""></option>
                                                        <option translate="filters.sortAsc" value="identifier:asc"></option>
                                                        <option translate="filters.sortDesc" value="identifier:desc"></option>
                                                        <option translate="filters.availableAsc" value="available:asc"></option>
                                                        <option translate="filters.availableDesc" value="available:desc"></option>
                                                        <option translate="filters.dateAsc" value="dateSort:asc"></option>
                                                        <option translate="filters.dateDesc" value="dateSort:desc"></option>
                                                    </select>
                                                </span>
                                        </div>
                                   </div>
                              </div>
                            <div class="search-hits">
                                <div class="results-hit ng-cloak">
                                    <!-- Search results view--->
                                    <div class="ui container">
                                        <div class="ui divided items">
                                            <div ng-repeat="doc in results.hits.hits track by $index" class="ui item">
                                                <div include-replace ng-if='doc._type == "document"'
                                                     ng-include="'partials/document-hits.html'"
                                                     style="page-break-inside: avoid;" class="ui item fade">
                                                </div>
                                                <div include-replace
                                                     ng-if='doc._source.type == "Person" || doc._source.type == "Organisajon" || doc._source.type == "Firma" || doc._source.type == "Katalogisator"'
                                                     ng-include="'partials/agent-hits.html'"
                                                     style="page-break-inside: avoid;"
                                                     class="ui item">
                                                </div>
                                                <div include-replace
                                                     ng-if='doc._source.type == "Monument" || doc._source.type == "Objekt"'
                                                     ng-include="'partials/object-hits.html'"
                                                     style="page-break-inside: avoid;"
                                                     class="ui item fade">
                                                </div>
                                                <div include-replace
                                                     ng-if='doc._source.type == "Skip" || doc._source.type == "Emne" || doc._source.type == "Fartøy"'
                                                     ng-include="'partials/vessel-hits.html'"
                                                     style="page-break-inside: avoid;"
                                                     class="ui item fade">
                                                </div>
                                                <div include-replace ng-if='doc._source.type == "Akkvisisjon"'
                                                     ng-include="'partials/acquisition-hits.html'"
                                                     style="page-break-inside: avoid;" class="ui item fade">
                                                </div>
                                                <div include-replace ng-if='doc._source.type == "Arbeidsliste"'
                                                     ng-include="'partials/object-hits.html'"
                                                     style="page-break-inside: avoid;"
                                                     class="ui item fade">
                                                </div>
                                                <div include-replace ng-if='doc._source.type == "Aggregering"'
                                                     ng-include="'partials/aggregation-hits.html'"
                                                     style="page-break-inside: avoid;" class="ui item fade">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Bottom pagination -->
                                    <uib-pagination class="pagination" total-items="results.hits.total"
                                                    items-per-page="pageSize"
                                                    ng-model="currentPage"
                                                    ng-change="search()"
                                                    next-text="Neste"
                                                    previous-text="Forrige"
                                                    max-size="5"
                                                    first-text="&laquo;"
                                                    last-text="&raquo;"
                                                    boundary-links="true"
                                                    force-ellipses="true">
                                    </uib-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--JavaScript files -->
    <script src="js/lib/typeahead/js/handlebars.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="js/lib/typeahead/js/jquery.xdomainrequest.min.js"></script>
    <script src="js/lib/typeahead/js/typeahead.bundle.js"></script>
    <script src="js/lib/typeahead/js/main.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.5/angular-locale_nb-no.min.js"></script>
    <script src="js/marcus-app.js"></script>
    <script src="js/marcus-ux.js"></script>
    <script src="js/util/strings.js"></script>
    <script src="js/checklist-directive.js"></script>
    <script src="js/jquery-datepicker.js"></script>
    <script src="js/ui-bootstrap-1.1.2.min.js"></script>
    <script src="js/lib/angular-translate/angular-translate.min.js"></script>
    <script src="js/lib/angular-translate/angular-translate-loader-static-files.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/messageformat/0.1.8/messageformat.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/messageformat/0.1.8/locale/en.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/messageformat/0.1.8/locale/no.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-interpolation-messageformat/2.11.0/angular-translate-interpolation-messageformat.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-sanitize.js"></script>

    <!--Constants for this particular page-->
    <script>
        angular.module("settings", [])
                .constant("mySetting", {
                    index: ["admin-test"],
                    /**type: ["document"],**/
                    facets: [
                        {
                            "field": "type.exact",
                            "size": 40,
                            "operator": "OR",
                            "order": "count_desc",
                            "min_doc_count": 0
                        },
                        {
                            "field": "hasZoom",
                            "size": 10,
                            "operator": "AND",
                            "order": "term_asc",
                            "min_doc_count": 0
                        },
                        {
                            "field": "isDigitized",
                            "size": 10,
                            "operator": "AND",
                            "order": "count_desc",
                            "min_doc_count": 0
                        },
                        {
                            "field": "isCatalogued",
                            "size": 10,
                            "operator": "AND",
                            "order": "count_desc",
                            "min_doc_count": 0
                        },
                        {
                            "field": "showWeb",
                            "size": 10,
                            "operator": "AND",
                            "order": "count_desc",
                            "min_doc_count": 0
                        },
                        {
                            "field": "subject.exact",
                            "size": 30, "operator": "AND",
                            "min_doc_count": 1
                        },
                        {
                            "field": "isPartOf.exact",
                            "size": 20,
                            "operator": "OR",
                            "order": "count_desc",
                            "min_doc_count": 1
                        },
                        {
                            "field": "cataloguer.exact",
                            "size": 50,
                            "operator": "OR",
                            "order": "term_asc",
                            "min_doc_count": 0
                        }
                        //OBS: Supported intervals: weeks(w), days(d), hours(h), minutes(m), seconds(s)
                        /*{
                         "field": "created",
                         "type" : "date_histogram",
                         "format" : "yyyy",
                         "interval" : "520w",
                         "min_doc_count" : 1,
                         "order" : "key_asc"
                         }*/
                    ]
                });

        $('.ui.dropdown').dropdown({
            transition: 'scale'
        });

        $('.ui.doctype.dropdown').dropdown({
            transition: 'scale',
            context: '.search-hits'
        });
    </script>
</body>
</html>
